th{
    font-weight: 800;
    background-color: darkgray;
    color: #ffffff;
}
table{
 font-family: fantasy,sans-serif;
 border-collapse: collapse;
 border-width:thin;
 border-style: solid;
 border-color: #2695A6;    
}
